@charset "UTF-8";
/* 
  2023. 09. 27(수) 작업 중...
  작성자 : 한상윤

  모든 페이지 (index.html, subpage.html)에 적용
  common style로 구성된 css 입니다.
*/

/* common basic =============================== */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: scroll;

  width: 100%;
  background-color: #040714;

  font-size: 16px;
  color: #fff;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

/* common class =============================== */
.hidden {
  overflow: hidden;
}

.none {
  display: none;
}

/* common 영역관련 =============================== */
.inWrapper {
  position: relative;
  margin: 0 auto;
  width: 95%;
  box-sizing: border-box;
}

/* padding setting */
.p3Top {
  padding-top: 3rem;
  box-sizing: border-box;
}

.p3Bottom {
  padding-bottom: 3rem;
  box-sizing: border-box;
}

.p3Left {
  padding-left: 3rem;
  box-sizing: border-box;
}

.p3Right {
  padding-right: 3rem;
  box-sizing: border-box;
}

/* margin setting */
.m3Top {
  margin-top: 3rem;
  box-sizing: border-box;
}

.m3Bottom {
  margin-bottom: 3rem;
  box-sizing: border-box;
}

.m3Left {
  margin-left: 3rem;
  box-sizing: border-box;
}

.m3Right {
  margin-right: 3rem;
  box-sizing: border-box;
}

/* common 텍스트관련 =============================== */
/* backgoundColor */
.keyColor {
  background: #040714;
}
.subColor {
  background: #fff;
}

/* common fonts =============================== */
/* font size setting */
.font0_8R {
  font-size: 0.8rem;
}

.font0_9R {
  font-size: 0.9rem;
}

.font1R {
  font-size: 1rem;
}

.font1_1R {
  font-size: 1.1rem;
}

.font1_2R {
  font-size: 1.2rem;
}

.font1_3R {
  font-size: 1.3rem;
}

.font1_4R {
  font-size: 1.4rem;
}

.font1_5R {
  font-size: 1.5rem;
}

.font2R {
  font-size: 2rem;
}

.font2_5R {
  font-size: 2.5rem;
}

.font3R {
  font-size: 3rem;
}

.font5R {
  font-size: 5rem;
}

/* 반응형 =============================== */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1100px) {
  /* font */
  .font0_8R {
    font-size: 0.7rem;
  }

  .font0_9R {
    font-size: 0.8rem;
  }

  .font1R {
    font-size: 0.9rem;
  }

  .font1_1R {
    font-size: 1rem;
  }

  .font1_2R {
    font-size: 1.1rem;
  }

  .font1_3R {
    font-size: 1.2rem;
  }

  .font1_4R {
    font-size: 1.3rem;
  }

  .font1_5R {
    font-size: 1.4rem;
  }

  .font2R {
    font-size: 1.8rem;
  }

  .font2_5R {
    font-size: 2.3rem;
  }

  .font3R {
    font-size: 2.8rem;
  }

  .font5R {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 900px) {
  /* font */
  .font0_8R {
    font-size: 0.6rem;
  }

  .font0_9R {
    font-size: 0.7rem;
  }

  .font1R {
    font-size: 0.8rem;
  }

  .font1_1R {
    font-size: 0.9rem;
  }

  .font1_2R {
    font-size: 1rem;
  }

  .font1_3R {
    font-size: 1.1rem;
  }

  .font1_4R {
    font-size: 1.2rem;
  }

  .font1_5R {
    font-size: 1.3rem;
  }

  .font2R {
    font-size: 1.7rem;
  }

  .font2_5R {
    font-size: 2.2rem;
  }

  .font3R {
    font-size: 2.7rem;
  }

  .font5R {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 500px) {
  /* font */
  .font2R {
    font-size: 1.5rem;
  }

  .font5R {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 400px) {
  /* inWrapper */
  .inWrapper {
    position: relative;
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;
  }

  /* font */
  .font1_5R {
    font-size: 1.1rem;
  }

  .font2R {
    font-size: 1.2rem;
  }

  .font5R {
    font-size: 3rem;
  }
}

@media screen and (max-width: 300px) {
    /* font */  
    .font5R {
      font-size: 2.5rem;
    }
}
