@charset "UTF-8";
/* 
  2023. 09. 23(토) 작업 완료
  작성자 : 한상윤

  include(header.html, footer.html)에 적용
  header style, footer style 로 구성된 css 입니다.
*/

/* Include Header =============================== */
/* Header Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 3;

  transition: all 0.5s;
}

.headerInfo {
  padding: 1rem 0;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.headerLogoJoin {
  flex: 1;

  display: flex;
  justify-content: space-between;

  opacity: 0;
}

header img {
  width: 80px;
}

header button {
  border: 0;
  border-radius: 0.5rem;
}

header a {
  padding: 1rem 1.5rem;
}

header .joinBtn {
  background-color: #016cf9;
}

header .loginBtn {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
}

header a {
  color: #fff;
}

/* Include Footer =============================== */
/* Footer Style */
footer {
  width: 100%;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer h1 {
  text-align: center;
}

footer img {
  width: 80px;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer select {
  border: 0;
  background-color: transparent;
  color: silver;
}

footer a,
footer p {
  text-align: center;
  color: silver;
}
