@charset "UTF-8";
/* 
  2023. 09. 23(토) 작업 완료
  작성자 : 한상윤

  include(header.html, footer.html)에 적용
  header style, footer style 로 구성된 css 입니다.
*/

/* Include Header =============================== */
/* Header Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 3;

  transition: all 0.5s;
}

.headerInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  height: 80px;
}

.headerLogoJoin {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  opacity: 0;
}

header img {
  width: 80px;
}

header button {
  height: 50px;

  border: 0;
  border-radius: 0.5rem;
}

header button a {
  display: block;

  padding: 0rem 1.5rem;
  height: 100%;

  display: flex;
  align-items: center;
}

header .joinBtn {
  background-color: #016cf9;
}

header .loginBtn {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
}

header a {
  color: #fff;
}

/* Include Footer =============================== */
/* Footer Style */
footer {
  width: 100%;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer h1 {
  text-align: center;
}

footer img {
  width: 80px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

footer select {
  border: 0;
  background-color: transparent;
  color: silver;
}

footer a,
footer p {
  text-align: center;
  color: silver;
}

/* 반응형 =============================== */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 500px) {
  /* header */
  header button {
    height: 45px;
  }

  header button a {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 400px) {
  /* header */
  header img {
    width: 70px;
  }

  header button {
    height: 40px;
  }

  header button a {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 300px) {
}
