@charset "UTF-8";
/* 
  2023. 09. 27(수) 작업 중...
  작성자 : 한상윤

  서브페이지(subpage.html)에 적용
  sub style로 구성된 css 입니다.
*/

/* subPage style */
/* readyPage */
.ready {
  position: relative;
  width: 100%;
  height: 100vh;
}

.readyInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  width: 100%;

  text-align: center;
}

.readyInfo img {
  width: 120px;
}

.readyInfo div {
  display: flex;
  gap: 1rem;
}

.readyInfo button {
  width: 120px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  color: #fff;
}

.readyInfo button:hover {
  background-color: #016cf9;
  border: 0;
}

.readyInfo button a {
  display: block;
  width: 100%;
  height: 100%;

  color: #fff;
}

/* joinPage */
.errorMessage {
  display: none;

  color: #ff554c;
}

.join a {
  color: #67bdff;
}

.join {
  position: relative;
  width: 100%;
  height: 100vh;
}

.joinInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}

.join01 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="email"] {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: rgb(49, 52, 62);
  border-radius: 0.5rem;
  border: 0;

  color: #fff;
  box-sizing: border-box;
}

.checkBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cautionAndButton {
  padding: 1rem;
  background-color: rgb(49, 52, 62);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.join01Button {
  width: 100%;
  padding: 1rem 0;
  background-color: #016cf9;
  border-radius: 0.5rem;
  border: 0;

  color: #fff;
}

/* subPosterPage */
.subPosterPage.moving {
  position: relative;

  width: 100%;

  background: url(../image/subImage/moving.png) no-repeat center;
  background-size: cover;
}

.subPosterPage.hanRiverPolice {
  position: relative;

  width: 100%;

  background: url(../image/subImage/hanRiverPolice.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.elemental {
  position: relative;

  width: 100%;

  background: url(../image/subImage/elemental.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.casino {
  position: relative;

  width: 100%;

  background: url(../image/subImage/casino.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.arthdalChronicles {
  position: relative;

  width: 100%;

  background: url(../image/subImage/arthdalChronicles.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.theFirstResponders {
  position: relative;

  width: 100%;

  background: url(../image/subImage/theFirstResponders.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.shadowDetective {
  position: relative;

  width: 100%;

  background: url(../image/subImage/shadowDetective.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.theLittleMermaid {
  position: relative;

  width: 100%;

  background: url(../image/subImage/theLittleMermaid.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.ahsoka {
  position: relative;

  width: 100%;

  background: url(../image/subImage/ahsoka.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.fullCount {
  position: relative;

  width: 100%;

  background: url(../image/subImage/fullCount.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.mandalorian {
  position: relative;

  width: 100%;

  background: url(../image/subImage/mandalorian.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.theBear {
  position: relative;

  width: 100%;

  background: url(../image/subImage/theBear.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.nattPaMuseetKahmunrahsAterkomst {
  position: relative;

  width: 100%;

  background: url(../image/subImage/nattPaMuseetKahmunrahsAterkomst.jpg)
    no-repeat center;
  background-size: cover;
}

.subPosterPage.zootopia {
  position: relative;

  width: 100%;

  background: url(../image/subImage/zootopia.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.laVengadora {
  position: relative;

  width: 100%;

  background: url(../image/subImage/laVengadora.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage.eletemACapakKozott {
  position: relative;

  width: 100%;

  background: url(../image/subImage/eletemACapakKozott.jpg) no-repeat center;
  background-size: cover;
}

.subPosterPage::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(at top right, transparent, rgb(26, 29, 41));

  opacity: 1;
}

.subPosterPage.active::before {
  background-color: rgb(26, 29, 41);

  opacity: 0.8;
  transition: all 0.5s;
}

/* topField */
.topField {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.topField .spectatorRating18::before {
  content: "";

  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/subImage/spectatorRating18.png) center no-repeat;
  background-size: cover;

  vertical-align: text-top;
}

.topField .spectatorRating15::before {
  content: "";

  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/subImage/spectatorRating15.png) center no-repeat;
  background-size: cover;

  vertical-align: text-top;
}

.topField .spectatorRating12::before {
  content: "";

  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/subImage/spectatorRating12.png) center no-repeat;
  background-size: cover;

  vertical-align: text-top;
}

.topField .spectatorRatingAll::before {
  content: "";

  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/subImage/spectatorRatingAll.png) center no-repeat;
  background-size: cover;

  vertical-align: text-top;
}

.topField button {
  margin: 2rem 0 1rem;
  width: 140px;
  background-color: #0072d2;
  border-radius: 0.5rem;
  border: 0;
}

.topField button a {
  display: block;
  width: 100%;
  padding: 1rem 0;
  color: #fff;
}

/* bottomField */
.bottomField > div:nth-of-type(1) {
  padding: 1rem 0;
  border-bottom: 1px solid silver;
  color: silver;
  font-weight: bolder;
}

.bottomField h2 {
  margin: 1rem 0;
}

.bottomField ul {
  display: flex;
  gap: 5rem;
}

.bottomField ul li {
  flex: 1;
}

.bottomField li:nth-of-type(1) {
  flex: 3;
}

.bottomField li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bottomField h3 {
  color: silver;
}

.bottomField img {
  width: 20px;
  height: 20px;
}

/* likelyContents */
.likelyContents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.likelyContents > div {
  color: silver;
  font-weight: bolder;
}

.likelyContents ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;
}

.likelyContents li {
  flex: 1;
  height: auto;
  border-radius: 0.5rem;

  box-shadow: 0px 10px 10px #000;
  outline: 0;
  transform: scale(1, 1);

  overflow: hidden;
  transition: transform 0.3s;
}

.likelyContents li:hover {
  box-shadow: 0px 20px 20px #000;
  outline: 3px solid #fff;
  transform: scale(1.05, 1.05);
}

.likelyContents li a {
  display: block;
  width: 100%;
  height: 100%;
}

.likelyContents li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 반응형 =============================== */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 900px) {
  /* bottomField */
  .bottomField ul {
    gap: 4rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
  .topField {
    gap: 1rem;
  }

  .topField button {
    margin: 1rem 0;
  }

  /* bottomField */
  .bottomField ul {
    flex-direction: column;
    gap: 1.5rem;
  }

  .bottomField li:nth-of-type(2) div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .bottomField li:nth-of-type(3) {
    display: flex;
    gap: 0.5rem;
  }

  /* likelyContents */
  .likelyContents ul {
    flex-wrap: wrap;
  }

  .likelyContents li {
    flex: inherit;
    width: 48%;
  }
}

@media screen and (max-width: 500px) {
  .likelyContents li {
    width: 47%;
  }
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 300px) {
  .likelyContents li {
    width: 100%;
  }
}
