@charset "UTF-8";

/* common basic =============================== */
* {
    margin: 0; padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;

    margin: 0; padding: 0;

    overflow-x: hidden; overflow-y: scroll;
    
    width:100%;

    font-size: 16px;
    color: #000;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
ul {
    margin: 0; padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
}

table{
    border-collapse: separate;
    border-spacing: 0;
}

/* common class =============================== */
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.none {
    display: none;
}

/* common 영역관련 =============================== */
.inWrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    width: 1300px;
    box-sizing: border-box;
}

/* common 텍스트관련 =============================== */
/* backgoundColor */
.keyColor {
  background:#54AAFD;
}
.subColor {
  background:#FAAC56;
}

/* common fonts =============================== */
/* sample fonts */
@font-face {
  font-family: 'headB';
  src: url('../fonts/바른공군체Bold.woff') format('woff');
  font-weight: 800;
}